<div class="container-div">
    <div class="row">
        <div class="col-lg-12">
            <h3>Payment Transactions</h3>
        </div>
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col-lg-3">
            <label>Date from</label>
            <input type="date" class="form-control" [(ngModel)]="paginatedRequest.DateFrom" />
        </div>
        <div class="col-lg-3">
            <label>Date to</label>
            <input type="date" class="form-control" [(ngModel)]="paginatedRequest.DateTo" />
        </div>
        
        <div class="col-lg-3">
            <label>Status</label>
            <select class="form-control" [(ngModel)]="paginatedRequest.Status">
                <option *ngFor="let opt of options" [ngValue]="opt.value">{{opt.name}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label style="display: block;">&nbsp;</label>
            <button class="btn btn-primary" (click)="search()">Filter</button>
        </div>
    </div>
    <div class="row" style="margin-top:35px">
        <div class="col-lg-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Amount</th>
                <th scope="col">Card number</th>
                <th scope="col">Holder name</th>
                <th scope="col">Expiration</th>
                <th scope="col">CVV</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pt of paymentTransactions">
                <td>{{pt.amount}}&nbsp;{{pt.currency}}</td>
                <td>{{pt.cardholderNumber}}</td>
                <td>{{pt.holderName}}</td>
                <td>{{pt.expirationYear}}/{{pt.expirationMonth}}</td>
                <td>{{pt.cvv}}</td>
                <td>{{pt.authenticatedAt | date: 'medium'}}</td>
                <td>{{pt.status == 0 ? 'Authenticated' : (pt.status == 1 ? 'Captured':'Voided')}}</td>
                <td><div *ngIf="pt.status == 0">
                    <button class="btn btn-success" (click)="showCaptureModal(templateCapture, pt.exposedId ? pt.exposedId : '', pt.orderReference)">Capture</button>
                    <button class="btn btn-warning" (click)="showVoidModal(templateVoid, pt.exposedId ? pt.exposedId : '', pt.orderReference)" style="margin-left:10px;">Void</button>
                </div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary" (click)="showAddModal(templateAdd)">Authorize new</button>
        </div>
        <div class="col-lg-4">
            <label><strong>{{elementsString}}</strong></label>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group" aria-label="Pagination" style="float:right !important;">
                <button type="button" class="btn btn-primary" *ngIf="paginatedRequest.Page>1" (click)="changePage(1)">First</button>
                <button type="button" class="btn btn-primary" *ngIf="paginatedRequest.Page>1" (click)="changePage(paginatedRequest.Page-1)">{{paginatedRequest.Page-1}}</button>
                <button type="button" class="btn btn-primary">{{paginatedRequest.Page}}</button>
                <button type="button" class="btn btn-primary" *ngIf="paginatedRequest.Page<lastPage" (click)="changePage(paginatedRequest.Page+1)">{{paginatedRequest.Page+1}}</button>
                <button type="button" class="btn btn-primary" *ngIf="paginatedRequest.Page<lastPage" (click)="changePage(lastPage)">Last</button>
              </div>
        </div>
        </div>
        <ng-template #templateVoid>
            <div class="modal-header">
               <h4 class="modal-title pull-left">Void Payment Transaction</h4>
               <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefVoid.hide()">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               Are you sure to void this payment transaction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="void();modalRefVoid.hide();">Yes</button>
               <button type="button" class="btn btn-default" (click)="modalRefVoid.hide()">Cancel</button>
            </div>
         </ng-template>
         <ng-template #templateCapture>
            <div class="modal-header">
               <h4 class="modal-title pull-left">Capture Payment Transaction</h4>
               <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCapture.hide()">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               Are you sure to capture this payment transaction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="capture();modalRefCapture.hide();">Yes</button>
               <button type="button" class="btn btn-default" (click)="modalRefCapture.hide()">Cancel</button>
            </div>
         </ng-template>
         <ng-template #templateAdd>
            <div class="modal-header">
               <h4 class="modal-title pull-left">Authorize New Payment Transaction</h4>
               <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAdd.hide()">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-lg-6">
                       <label>Amount</label>
                       <input type="number" class="form-control" [(ngModel)]="newPT.amount" min="0" />
                   </div>
                   <div class="col-lg-6">
                        <label>Currency</label>
                        <input type="text" class="form-control" [(ngModel)]="newPT.currency" maxlength="3" />
                    </div>
                    <div class="col-lg-6">
                        <label>Card number</label>
                        <input type="text" class="form-control" [(ngModel)]="newPT.cardholderNumber" />
                    </div>
                    <div class="col-lg-6">
                        <label>Holder name</label>
                        <input type="text" class="form-control" [(ngModel)]="newPT.holderName" />
                    </div>
                    <div class="col-lg-4">
                        <label>Expiration month</label>
                        <input type="number" class="form-control" [(ngModel)]="newPT.expirationMonth" min="1" max="12" />
                    </div>
                    <div class="col-lg-4">
                        <label>Expiration year</label>
                        <input type="number" class="form-control" [(ngModel)]="newPT.expirationYear" />
                    </div>
                    <div class="col-lg-4">
                        <label>CVV</label>
                        <input type="number" class="form-control" [(ngModel)]="newPT.cvv" />
                    </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="add();modalRefAdd.hide();">Authorize</button>
               <button type="button" class="btn btn-default" (click)="modalRefAdd.hide()">Cancel</button>
            </div>
         </ng-template>
        
</div>

